* { box-sizing: border-box; }

body {
    background-color: #fffeea;
    color: #34495e;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.header h1 {
    text-align: center;
}

.image {
    display: inline-block;
    float: left;
}

.column {
    display: inline-block;
    float: left;
    width: 30%;
    padding: 0 20px;
}

.main-text {
    clear: both;
    padding-top: 60px;
}

.header {
    margin: 30px 20px;
}

.box,
.skills h3 {
    text-align: center;
    text-transform: uppercase;
    background-color: #5ad4c2;
    color: #FFF;
    padding-top: 2em;
    padding-bottom: 2em;
    -webkit-margin-before: 0;
}

#skills-list {
    margin-left: 50px;
}

/* Typography */

h1,
h2,
h3 {
    font-family: 'Inconsolata', Futura, Helvetica, Arial, sans-serif;
}

p,
li {
    font-family: 'Inconsolata', Georgia, Lucida-Bright, serif;
}

.intro p {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 100;
    -webkit-margin-before: 0;
}






