.jumbotron {
    background-image: url("../img/Elephant.jpg");
    background-size: cover;
}

.jumbotron p {
    color: dimgrey;
}

.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav ul li {
    display: inline-block;
    padding: 20px 25px 10px;
    float: right;
}

.nav .home {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    padding: 20px 25px 10px;
    transition: color 400ms;
}

.nav ul li a {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 400ms;
}

.nav ul li a:hover, .nav .home:hover {
    color: grey;
    text-decoration: none;
}

 